@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap');

/* css default setting */
:root {
    --title-font-family: 'Do Hyeon', sans-serif;
    --title--font-size: 2.5rem;
}

body, html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

body{
    background-size: cover;
    width:100vw;
    height: 100vh;
}

.hidden {
    display: none !important;
}

.space-top {
    margin-top: 40px;
}

button {
    cursor: pointer;
}


/* 배경 색상 다운을 위한 cover layer */
.bg-cover {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,.15);
    z-index: -1;
}


/* form 기본 설정 */
.default-form {
    color: #fff;
    text-align: center;
    font-size: var(--title--font-size);
}

.default-form input {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    width: 620px;
    height: 56px;
    border:0;
    border-bottom: 1px solid #fff;
    background-color: rgba(0,0,0,.0);
    margin-top: 24px;
}

.default-form input:focus {
    outline: none;
}

.default-form input::placeholder {
    color: #fff;
    font-size: 1rem;
    opacity: .7;
}


/* header 영역 */
header {
    padding: 0px 20px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

}

.settings {
    margin-top: 22px;
}

.settings button {
    border:0;
    background: none;
}

.settings button:focus {
    outline: none;
}

#weather {
    display: flex;
    align-items: center;
    color: #fff;
    line-height: 2rem;
}

#weather p:last-child {
    font-size: 1.5rem;
}


/* main 영역 */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    font-family: var(--title-font-family);
    font-size: 18.75rem;
    color: #fff;
}

#greeting {
    font-size: 4rem;
    color: #fff;
    font-family: var(--title-font-family);
}

#todayGoal {
    margin-top: 64px;
    color: #fff;
    text-align: center;
}

#todayGoal h3 {
    font-size: 2.5rem;
}

#todayGoal p {
    font-family: var(--title-font-family);
    font-size: 4rem;
    margin-top:24px;
}

/* footer 영역 */
footer {
    position: absolute;
    bottom: 20px;
}
#quote {
    width: 100vw;
    color: #fff;
    position: relative;
    bottom: 0;
    text-align: center;
}

#quote p:first-child {
    opacity: .8;
}

#quote p:last-child {
    margin-top: 12px;
    opacity: .6;
}

.todo-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    position: absolute;
    right: 20px;
    bottom:0;
    z-index: 10;
}

.todo {
    width: 250px;
    padding:20px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px rgba(0,0,0,.35);
}

#todo-form input {
    margin-top:20px;
    height:28px;
    border:0;
    border-bottom: 2px solid #eaeaea;
    width: 100%;
}

#todo-form input:focus {
    outline: none;
}

#todo-list {
    line-height: 1.5rem;
}

#todo-list li {
    margin:10px 0;
    display: flex;
    justify-content: space-between;
}

#todo-list li button {
    border: 0;
    background: rgba(0,0,0,.0);
}

.todo-btn {
    border:0;
    background-color: rgba(0,0,0,.0);
    color: #fff;
    font-size: 1rem;
    z-index: 10;
}

.todo-btn:focus {
    outline: none;
}

.todo-btn img {
    width:27px;
}